<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World</title>
  <link href="./output.css" rel="stylesheet">
</head>

<body class="h-full bg-zinc-900 text-gray-100 antialiased">
  <div class="grid p-20">
    <div class="border-2 rounded-lg border-zinc-800 p-5">
      <h3 class="font-bold text-yellow-600">
        <%= nickname %> Friedman® HBE100®
      </h3>
      <ul>
        <li>Freeman 100 Clean</li>
        <li>Freeman 100 Lead</li>
        <li>Freeman 100 Rhythm</li>
      </ul>
    </div>
  </div>
</body>

</html>